#root {
    height: 100%;
    width: 100%;
    overflow: hidden; /* No scroll on React root */
    display: flex;
    flex-direction: column;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
}

.centerStyle {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}
