.captcha-modal-popup {
    --z-index: 9999;
}

.captcha-modal-content {
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
    width: 300px;
}

.captcha-modal-title {
    margin-bottom: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.captcha-modal-close {
    margin-top: 20px;
    text-align: center;
    color: #999;
    font-size: 14px;
    cursor: pointer;
}
