.basic-layout-container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.basic-layout-content {
    flex: 1;
    overflow: hidden;
    background: #f5f5f5;
}

.basic-layout-tabbar {
    border-top: 1px solid #eee;
    background: #fff;
}
